@import '../css/index.css';

.primary-color {
  color: var(--primary-color);
}

/* Carousel & banner img height*/
@media (max-width: 1000px) {
  .carousel {
    margin-top: -2rem;
  }
}
@media (max-width: 890px) {
  .carousel {
    margin-top: -1rem;
  }
}
/* for desktops */
@media (min-width: 890px) {
  .carousel .carousel-item {
    height: 50vh;
  }
  .carousel-item img {
    object-fit: cover;
    height: 50vh;
  }
}
/* for tablets and mobile widths*/
@media (max-width: 890px) {
  .carousel .carousel-item {
    height: auto;
  }
  .carousel-item img {
    height: auto;
  }
}

/* Carousel Captions */
.banner1-caption {
  position: absolute;
  top: 55%;
  transform: translateX(183%);
  color: var(--primary-color);
}

/* Carousel Button */
.carousel-btn {
  border-radius: 15px;
  border: 2px solid var(--secondary-color);
  background-color: var(--primary-color);
  text-align: center;
  text-decoration: none;
  color: var(--secondary-color);
  font-weight: bold;
  text-transform: uppercase;
}
.carousel-btn:hover {
  box-shadow: 0 8px 16px 0 rgba(172, 172, 172, 0.2),
    0 6px 20px 0 var(--secondary-color);
  cursor: pointer;
}

/* marketing-owner-driver*/
.marketing-owner-driver {
  box-shadow: 0 8px 16px 0 rgba(172, 172, 172, 0.2),
    0 6px 20px 0 var(--secondary-color);
  border: 2px solid var(--secondary-color);
}

@media (max-width: 991px) {
  .driver-card {
    margin-top: 20px;
  }
}
