@import '../css/index.css';

/* search button */
.navbar-search-btn {
  background-color: var(--secondary-color);
  color: black !important;
  text-decoration: none;
  height: 20px;
}
.nav-search-btn {
  background-color: var(--secondary-color);
  color: white;
  width: 33px;
}
.nav-search-btn:hover {
  background-color: rgb(255, 198, 55);
}
/* search icon color */
.sb-icon-color {
  color: var(--primary-color);
  margin-left: -6px;
}

/* search-bar styling */
.search-bar {
  width: 400px;
  height: 35px;
  line-height: 45px;
}
/* for mobile widths */
@media (max-width: 767px) {
  .search-bar {
    width: 175px;
    height: 35px;
    line-height: 45px;
  }
}
@media (max-width: 548px) {
  .search-bar {
    width: 120px;
    height: 35px;
    line-height: 45px;
  }
  .search-container {
    margin-right: -20px;
  }
}
@media (max-width: 499px) {
  .search-bar {
    width: 267px;
    height: 35px;
    line-height: 45px;
  }
  .search-container {
    margin-left: -25px;
  }
}

/* focus color */
.form-control:focus {
  border-color: var(--secondary-color);
  box-shadow: inset 0 1px 1px var(--secondary-color),
    0 0 8px var(--secondary-color);
}
.nav-search-btn:focus {
  box-shadow: inset 0 1px 1px var(--secondary-color),
    0 0 4px var(--secondary-color);
}
